@import "./variables.scss";

html {
  height: 99vh;
  width: 100vw;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

Image body {
  height: 98vh;
  width: 100%;
  /* overflow-y: hidden;  */
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 72px;
  line-height: 80px;
  color: $black;
}

h2 {
  font-family: "Cinzel", serif;
}

h3 {
  font-family: "Prompt", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-family: "Prompt", sans-serif;

  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  font-size: 1.2em;
  font-style: italic;
}

h6 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
