@import "./variables.scss";

.link {
  text-decoration: none;
  color: black;
}

.homeContainer {
  height: 98vh;
  width: 99vw;
  overflow-y: scroll;
  overflow-x: hidden;

  scroll-snap-type: y mandatory;
}

.intro,
.expertise,
.results,
.process,
.about,
.ricky {
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;

  @media (max-width: $layout-breakpoint-small) {
    padding-top: 50px;
  }
}

.intro {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-align: center;

  .homeSliderDiv {
    margin: auto;
    position: relative;
    z-index: 10;
    padding: 50px;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    object-fit: cover;

    .Title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      max-width: 40%;
      height: max-content;

      h1 {
        z-index: 50px;
        font-weight: 100;
        font-family: "Cinzel", serif;
        font-size: 4em;
        line-height: 1.3em;

        color: $color3;

        @media (max-width: $layout-breakpoint-small) {
          font-size: 3em;
          line-height: 1em;
        }
      }
    }
  }

  Image {
    width: 100%;
    height: 50%;
  }

  .background {
    position: absolute;
    opacity: 0.9;
    width: 99%;
    z-index: -20;
    top: 0;
    left: 0;
    height: 70%;

    &:after {
      content: " ";
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      bottom: 0px;
      left: 0px;
      opacity: 1;
      box-shadow: 300px -70px 200px -5px rgb(245, 243, 243) inset;
    }
  }

  /*   .background::after {
    content: " ";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    opacity: 1;
    box-shadow: 300px -70px 200px -5px rgb(245, 243, 243) inset;
  }
 */
  .BackgroundImage {
    /*     margin-top: 10vh;
    background-image: url("https://res.cloudinary.com/dyj84szrx/image/upload/v1642417376/ricky/fatigu%C3%A92_xx7mr4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.9;
    width: 99%;
    z-index: -20;
    top: 0;
    left: 0;
    height: 70%; */

    &:after {
      content: " ";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      bottom: 0px;
      left: 0px;
      opacity: 1;
      box-shadow: 300px -70px 200px -5px rgb(245, 243, 243, 0.8) inset;
    }
  }

  .contact {
    height: 40%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    align-items: center;

    background-color: $color3;

    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;
      height: 60%;
    }

    .questions {
      /*  background-color: yellow; */
      width: 60%;
      margin-right: 3%;
      display: flex;
      align-items: flex-start;
      gap: 70px;

      @media (max-width: $layout-breakpoint-small) {
        width: 100%;
        height: 50%;
        gap: 15px;
        flex-direction: column;
        gap: 0;
      }

      @media (max-width: $layout-breakpoint-small) {
        width: 100%;
        height: 50%;
        gap: 15px;
        flex-direction: column;
        gap: 0;
      }

      h4 {
        font-weight: 500;
        color: $color2;
        line-height: 0.8em;

        @media (max-width: $layout-breakpoint-small) {
          font-size: 1em;
          line-height: 0.9em;
          margin: 0.7em;
        }
      }

      .leftQuestion {
        width: 40%;
        @media (max-width: $layout-breakpoint-small) {
          display: none;
        }
      }
      .chevronRight {
        padding-right: 10px;
      }
    }
    .contactText {
      /* background-color: yellowgreen; */
      width: 30%;

      @media (max-width: $layout-breakpoint-small) {
        width: 100%;

        h2 {
          font-size: 1em;
        }
      }
    }
    .contactLink {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color2;
      padding: 15px 20px 15px 20px;

      border: solid thin $grey1;
      font-weight: 400;
    }

    h2 {
      color: $color2;
      padding: 15px 20px 15px 20px;
      text-align: center;
      border: solid thin $grey1;
      font-weight: 400;
    }
  }
}

.expertise {
  padding: 4%;
  background-color: $grey3;

  h1 {
    font-size: 3em;
    line-height: 1em;
    text-align: left;
    color: $color2;
    font-weight: 500;
  }
  @media (max-width: $layout-breakpoint-small) {
    h1 {
      font-size: 2em;
      line-height: 1.2em;
      font-weight: 300;
    }
  }
  h2 {
    font-size: 2em;
    line-height: 0.8;
    text-align: left;
    color: $color2;
  }

  h4 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.6rem;
    color: $color2;

    @media (max-width: $layout-breakpoint-small) {
      font-size: 1.1rem;
      line-height: 1.3em;

      font-weight: 300;
    }
  }

  .bloc {
    width: 100%;
    height: 90%;

    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;
    }

    .bloc1 {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 25%;

      @media (max-width: $layout-breakpoint-small) {
        width: 100%;
        height: max-content;
      }
    }

    .bloc2 {
      height: 80%;
      display: flex;
      width: 100%;

      gap: 70px;

      Image {
        z-index: 150;
      }

      @media (max-width: $layout-breakpoint-small) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }

      .iconBloc {
        background-color: $blackTrans;
        width: 90%;
        z-index: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;

        @media (max-width: $layout-breakpoint-small) {
          width: 35%;
        }

        .iconImg {
          filter: brightness(300%) contrast(300%);
          z-index: 50;
          width: 70%;
        }
      }
    }
  }
}

.results {
  position: relative;
  z-index: 10;
  padding: 100px 50px 3% 50px;
  background-color: $color2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15vh;

  @media (max-width: $layout-breakpoint-medium) {
    padding: 0;
    align-items: center;
    gap: 10px;
  }

  h1 {
    z-index: 10;
    font-size: 3em;
    text-align: left;
    color: $color2;
    font-weight: 500;

    @media (max-width: $layout-breakpoint-medium) {
      padding-top: 50px;
      text-align: center;
    }
  }

  .bloc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
    /* background-color: $color3; */
    padding: 0 50px 0 50px;
    z-index: 20;
    display: flex;
    gap: 100px;
    height: max-content;

    @media (max-width: $layout-breakpoint-medium) {
      flex-wrap: wrap;
      height: 100vh;
      padding: 3px;
      gap: 10%;
    }

    .cardBox {
      width: 20%;
      gap: 0;

      @media (max-width: $layout-breakpoint-medium) {
        width: 23%;
        background-color: aqua;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .imgBox {
        height: 30vh;
        object-fit: cover;
        @media (max-width: $layout-breakpoint-medium) {
          height: max-content;
        }
      }
      Image {
        z-index: 20;
        border-radius: 10px;
      }

      h2 {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.7em;
        color: $color1;
        font-family: "Prompt", sans-serif;

        @media (max-width: $layout-breakpoint-medium) {
          font-size: 1em;
          line-height: 1.4em;
          font-weight: 500;
        }
      }
    }
  }
  .skewed2 {
    position: absolute;
    width: 100%;
    height: 10%;
    z-index: -1;
    top: 100px;
    left: 0;
    background: $color1;

    @media (max-width: $layout-breakpoint-medium) {
      background: $color1;
    }
  }
  .skewed {
    position: absolute;
    z-index: -2;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color1;
    transform: skewY(9deg) translateY(-30vh);
    transform-origin: top right;

    @media (max-width: $layout-breakpoint-medium) {
      background: $color1;
      top: 0;
      height: 70%;
    }
  }
}

.process {
  background-color: $color2;

  h1 {
    padding-left: 3%;
    margin-top: 7vh;
    font-size: 30px;
    text-align: left;
    color: $color3;
  }
  .bloc {
    display: flex;
    position: relative;
    height: 80%;
    background-color: $grey3;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 3%;
    padding-bottom: 3%;

    .nextIcon,
    .prevIcon {
      top: 45%;
      font-size: 70px;
      position: absolute;
      z-index: 50;
      color: $color2;
      /* background-color: var(--color1); */
      box-shadow: 1px 1px 5px 1px $color2;

      @media (max-width: $layout-breakpoint-small) {
        display: none;
      }
    }

    .nextIcon {
      right: 3%;
    }

    .prevIcon {
      left: 10%;
    }

    .bloc1 {
      width: 100%;
      height: 100%;
      padding-top: 50px;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 50px;

      @media (max-width: $layout-breakpoint-small) {
        display: none;
      }
    }

    p {
      color: $color2;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 2em;
      font-weight: 600;
      color: whitesmoke;

      @media (max-width: $layout-breakpoint-small) {
        font-size: 1.5em;
        line-height: 1.2em;
      }
    }

    h3 {
      color: whitesmoke;
    }

    h4 {
      font-weight: 200;
      color: whitesmoke;
    }

    .bloc2 {
      width: 100%;

      height: 100%;
      color: $color3;
      display: flex;
      justify-content: center;
      /* overflow: scroll; */
      overflow: hidden;
      gap: 100px;

      overflow-y: hidden;
      overflow-x: scroll;
      overflow-x: hidden;
      /* scroll-snap-type: y mandatory; */

      @media (max-width: $layout-breakpoint-small) {
        overflow-x: scroll;
        gap: 50px;
      }

      .gallery {
        width: 60vw;

        .Process {
          width: 100%;
          height: 100%;

          /*  background-color: var(--color2); */
          margin-left: 3%;
          /* border: 1px double var(--grey1); */
          padding: 50px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          overflow-x: hidden;
          overflow-y: hidden;
          scroll-snap-align: center;

          @media (max-width: $layout-breakpoint-small) {
            width: 90vw;
            padding: 0;
          }

          .titleBox {
            height: 7vh;

            @media (max-width: $layout-breakpoint-small) {
              height: max-content;
            }
          }

          .imgDiv {
            width: 70%;
            /* height: 250px; */
            object-fit: cover;

            @media (max-width: $layout-breakpoint-small) {
              width: 90%;
            }
          }
        }
      }
    }
  }
}

.about {
  background-color: $color2;

  .skewed {
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 105%;
    /*   background-color: black; */
    background: #2c3e50;
    z-index: -2;
    transform: skewY(9deg) translateY(-50px);
    transform-origin: top right;
    @media (max-width: $layout-breakpoint-small) {
      display: none;
    }
  }

  .bloc {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    @media (max-width: $layout-breakpoint-small) {
      flex-direction: column;

      overflow-x: hidden;
      height: max-content;
    }

    .bloc1 {
      h1 {
        z-index: 50;
        font-weight: 300;
        font-size: 2.7em;
        line-height: 1.3em;

        @media (max-width: $layout-breakpoint-small) {
          font-size: 2.5em;
          line-height: 1.1em;
        }
      }

      span {
        z-index: 50;
        font-weight: 700;
        font-size: 1.2em;
        line-height: 1.4em;
        /* font-family: "Raleway", sans-serif; */
        font-family: "Prompt", sans-serif;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      height: 80%;
      background-color: whitesmoke;
      padding: 0px 50px 0px 50px;
      width: 40%;
      min-width: 470px;

      @media (max-width: $layout-breakpoint-small) {
        padding-top: 0;
        height: max-content;
        width: 90%;
      }
    }

    .bloc2 {
      width: 70%;
      flex-grow: 3;
      height: 80%;
      z-index: 1;
      position: relative;
      display: flex;

      height: 100%;

      margin: 0;
      flex-direction: column;
      gap: 70px;

      @media (max-width: $layout-breakpoint-small) {
        display: none;
      }

      .profilBox {
        width: 100%;
        padding-top: 50px;

        display: flex;
        gap: 30px;

        .ImgBox {
          width: 15vw;
          height: 15vw;
          border-radius: 50%;
          background-image: url("https://res.cloudinary.com/dyj84szrx/image/upload/v1643026775/ricky/1597248041722_ringk6.jpg");
          background-size: cover;

          box-shadow: inset 10px 10px 30px 10px rgba(19, 2, 2, 0.5);
          background-repeat: no-repeat;
        }

        .descBox {
          color: white;
          width: 70%;

          h5 {
            font-weight: 200;
          }

          div {
            padding-right: 30px;
          }

          div:last-child {
            color: cornsilk;
          }
        }
      }
    }
  }
}

.ricky {
  display: none;

  @media (max-width: $layout-breakpoint-small) {
    display: flex;

    position: relative;

    .skewed {
      opacity: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 40%;
      /*   background-color: black; */
      background: #2c3e50;
      z-index: -2;
      transform: skewY(9deg) translateY(-100px);
      transform-origin: top right;
    }

    .profilBox {
      width: 100%;
      padding-top: 50px;
      padding-left: 3%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .titleBox {
        width: 100%;
        display: flex;
        gap: 2%;

        h2 {
          color: $color2;
        }
      }

      .ImgBox {
        width: 30%;
        border-radius: 50%;
        background-image: url("https://res.cloudinary.com/dyj84szrx/image/upload/v1643026775/ricky/1597248041722_ringk6.jpg");
        background-size: cover;
        box-shadow: inset 10px 10px 30px 10px rgba(19, 2, 2, 0.5);
        background-repeat: no-repeat;
      }

      .descBox {
        color: $color1;
        display: flex;
        flex-direction: column;
        width: 95%;

        h5 {
          font-weight: 200;
        }

        div {
          padding-right: 30px;
        }

        div:last-child {
          padding-top: 20px;

          color: cornsilk;
        }
      }
    }
  }
}
