/* colors */
$color2: whitesmoke;
$color3: black;
$white: rgb(223, 219, 219);
$whiteTransp: rgb(223, 219, 219, 0.2);
$black: #000000;
$blackTrans: rgb(0, 0, 0, 0.3);
$grey1: #5e5e5e;
$grey2: #242222;
$grey3: rgb(17, 17, 17);
$color1: rgb(27, 76, 112);
$color1Trans: rgb(27, 76, 112, 0.6);

/* breaking point */
$layout-breakpoint-small: 640px;
